Unity/MM7/Assets/Standard Assets/
Unity/MM7/Temp/
Unity/MM7/Library/metadata/
Unity/MM7/Library/ShaderCache/
Misc/
Unity/MM7/Library/assetDatabase3
Unity/MM7/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Unity/MM7/Library/InspectorExpandedItems.asset
Unity/MM7/Library/CurrentMaximizeLayout.dwlt
Unity/MM7/MM7.userprefs
Unity/MM7/Library/CurrentLayout.dwlt
Unity/MM7/Library/expandedItems
Unity/MM7/Library/LastSceneManagerSetup.txt
Unity/MM7/Library/CrashedAssetImports.txt
Unity/MM7/build/
Unity/MM7/Library/LastBuild.buildreport
Unity/MM7/Library/ScriptAssemblies/BuiltinAssemblies.stamp
Unity/MM7/Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll.mdb
Unity/MM7/Library/ScriptAssemblies/Assembly-CSharp-Editor-firstpass.dll.mdb
Unity/MM7/Assets/Gaia/
Unity/MM7/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll.mdb
Unity/MM7/Assets/UMA/
Unity/MM7/Assets/Arteria3d/
Unity/MM7/obj/
Unity/MM7/Library/ScriptAssemblies/
